/* Homepage.css */
.book{
  margin-left: 3%;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8.9%;
    margin-top: 2%;
  }
  
.select-container {
    margin-left: 5%; 
    margin-right: 12.8%;
  }
#sort{
  padding-top: 4%;
  padding-bottom: 4%;
}
  